<div class="_21bgioiEBbnVoXvYXjL3tH JWNdg1hee9_Rz6bIGvG1c allowTextSelection"><div><div>
<div>
<div dir="ltr">
<div>
<br>

<br>

<div bgcolor="#eeefef" style="margin:0;padding:0;">
<table bgcolor="#EEEFEF" width="100%" cellspacing="0" cellpadding="0" style="min-width:320px;">
<tbody><tr>
<td style="padding:20px 0;">
<table align="center" cellspacing="0" cellpadding="0" style="width:100%;max-width:600px;margin:0 auto;">
<tbody><tr>
<td bgcolor="white" style="border-radius:6px;">
<table width="100%" cellspacing="0" cellpadding="0">
<tbody><tr>
<td style="padding:12px 18px 11px 18px;border-bottom:1px solid #DDDFE0;">
<table width="100%" cellspacing="0" cellpadding="0">
<tbody><tr>
<td style="width:47px;max-width:47px;"><img data-imagetype="External" src="/actions/ei?u=http%3A%2F%2Fstatic.tcsbank.ru%2Femail%2FTA%2Flogo-01.png&amp;d=2019-07-27T17%3A45%3A05.323Z" originalsrc="http://static.tcsbank.ru/email/TA/logo-01.png" data-connectorsauthtoken="1" data-imageproxyendpoint="/actions/ei" data-imageproxyid="" alt="Tinkoff" style="vertical-align:top;width:47px;">
</td>
<td align="center"><img data-imagetype="External" src="/actions/ei?u=http%3A%2F%2Fstatic.tcsbank.ru%2Femail%2FTA%2Flogo-05.png&amp;d=2019-07-27T17%3A45%3A05.323Z" originalsrc="http://static.tcsbank.ru/email/TA/logo-05.png" data-connectorsauthtoken="1" data-imageproxyendpoint="/actions/ei" data-imageproxyid="" alt="tinkoff.ru" style="color:black;font-size:20px;font-family:San Francisco,Segoe,Roboto,San Francisco,Segoe,Roboto,Arial,Helvetica,sans-serif;font-weight:bold;vertical-align:top;width:85px;">
</td>
<td style="width:47px;max-width:47px;"></td>
</tr>
</tbody></table>
</td>
</tr>
<tr>
<td align="center" style="padding:0;overflow:hidden;"><img data-imagetype="External" src="https://email.cdn-tinkoff.ru/email/images/tmobile_freetime.png" style="vertical-align:top;width:100%;max-width:600px;"> </td>
</tr>
<tr>
<td style="padding:28px 10px 0 10px;">
<table align="center" cellspacing="0" cellpadding="0" style="width:100%;max-width:554px;margin:0 auto;">
<tbody><tr>
<td style="padding:0;">
<table width="100%" cellspacing="0" cellpadding="0">
<tbody><tr>
<td style="color:#333333;font-size:17px;font-family:San Francisco,Segoe,Roboto,San Francisco,Segoe,Roboto,Arial,Helvetica,sans-serif;padding:0 0 21px 0;">
Здравствуйте, <%= name %>. </td>
</tr>
<tr>
<td style="color:#333333;font-size:17px;font-family:San Francisco,Segoe,Roboto,Arial,Helvetica,sans-serif;padding:0 0 21px 0;">
Мы сделали бесплатными все звонки по&nbsp;России для&nbsp;владельцев карт Тинькофф. </td>
</tr>
<tr>
<td style="color:#333333;font-size:17px;font-family:San Francisco,Segoe,Roboto,Arial,Helvetica,sans-serif;padding:0 0 21px 0;">
Чтобы общаться бесплатно, закажите <u></u>сим-карту<u></u> Тинькофф&nbsp;Мобайла. А&nbsp;когда получите ее, подтвердите участие в&nbsp;акции <a href="https://link.emails.tinkoff.ru/tinkoff/143732394,=0KsitaiSB2raQsmBK7EHazw/650610,797729470,3020823,?aHR0cHM6Ly93d3cudGlua29mZi5ydS9tb2JpbGUtb3BlcmF0b3IvbG9naW4v" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="color:#74A3C7;">в&nbsp;личном
кабинете.</a> </td>
</tr>
<tr>
<td style="color:#333333;font-size:17px;font-family:San Francisco,Segoe,Roboto,San Francisco,Segoe,Roboto,Arial,Helvetica,sans-serif;padding:0;">
Вы можете заказать симку с&nbsp;новым номером. А&nbsp;можете перенести действующий номер в&nbsp;Тинькофф Мобайл&nbsp;— за&nbsp;это <font style="color:#333333;background-color:#FFED91;">дарим 1000&nbsp;₽ на&nbsp;связь</font>. </td>
</tr>
</tbody></table>
</td>
</tr>
<tr>
<td style="padding:28px 0 38px 0;">
<table align="center" cellspacing="0" cellpadding="0" style="max-width:290px;margin:0 auto;">
<tbody><tr>
<td align="center" bgcolor="#FFDD2D" style="font-size:17px;font-family:San Francisco,Segoe,Roboto,Arial,Helvetica,sans-serif;border-radius:5px;">
<a href="http://localhost:9000/wrongclick" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="color:#333333;display:block;white-space:nowrap;padding:22px 40px 24px 40px;">Узнать
подробнее</a> </td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
<tr>
<td style="padding:24px 10px;border-top:1px solid #DDDFE0;">
<table align="center" cellspacing="0" cellpadding="0" style="width:100%;max-width:438px;margin:0 auto;">
<tbody><tr>
<td align="center" style="color:#9299A2;font-size:13px;font-family:San Francisco,Segoe,Roboto,San Francisco,Segoe,Roboto,San Francisco,Segoe,Roboto,Arial,Helvetica,sans-serif;padding:0 0 12px 0;">
Условия акции по&nbsp;<a href="https://link.emails.tinkoff.ru/tinkoff/143732396,=049yQKDE0W9Y88VnWPcYIPw/650610,797729470,3020823,?aHR0cHM6Ly9hY2RuLnRpbmtvZmYucnUvc3RhdGljL2RvY3VtZW50cy8zZDcwZmVmOC00OGFkLTQwMTEtOGU1YS1mNDQ0MzQzMzkzZTEucGRm" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="color:#74A3C7;">бесплатным
звонкам</a> <u></u>и <a href="https://link.emails.tinkoff.ru/tinkoff/143732397,=0QSpXc_dkQC6MSPWAQwYe5A/650610,797729470,3020823,?aHR0cHM6Ly9zdGF0aWMudGlua29mZi5ydS9kb2N1bWVudHMvbXZub19kb2N1bWVudHMvcHJvbW8vMTAwMC1ydWJsZXMtZm9yLXRyYW5zZmVyLXRvLXRtLXdpdGgtbnVtYmVyLW5ldy5wZGY=" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="color:#74A3C7;">переносу
номера</a><u></u> </td>
</tr>
<tr>
<td align="center" style="color:#333333;font-size:17px;font-family:San Francisco,Segoe,Roboto,San Francisco,Segoe,Roboto,Arial,Helvetica,sans-serif;padding:0 0 6px 0;">
Ваш Тинькофф Банк </td>
</tr>
<tr>
<td align="center" style="color:#74A3C7;font-size:13px;font-family:San Francisco,Segoe,Roboto,San Francisco,Segoe,Roboto,Arial,Helvetica,sans-serif;padding:0 0 12px 0;">
<a href="https://link.emails.tinkoff.ru/tinkoff/143732398,=0Zc22x7x1613UnzgdytSNfg/650610,797729470,3020823,?aHR0cHM6Ly93d3cudGlua29mZi5ydS8=" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="color:#74A3C7;text-decoration:none;">Tinkoff.ru</a>
</td>
</tr>
<tr>
<td align="center" style="color:#9299A2;font-size:13px;font-family:San Francisco,Segoe,Roboto,San Francisco,Segoe,Roboto,Arial,Helvetica,sans-serif;">
Если не интересно, можете <a href="https://emails.tinkoff.ru/backend/member/unsubtopic/1TE-bj4kWJKcrKYghZaoOLrJg6GYHu88YU0738uN5qjGGelIB783xX3qB82HTxkPqX-AGmJcaD2zXxsA" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="color:#74A3C7;text-decoration:none;">отписаться</a>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</div>
<img data-imagetype="External" src="https://image.emails.tinkoff.ru/1.gif/tinkoff,650610,797729470,3020823,/20190706135924,masssending" width="1" height="1" border="0"><img data-imagetype="External" src="https://image.emails.tinkoff.ru/0.gif/tinkoff,650610,797729470,3020823,/20190706135924,masssending" width="1" height="1" border="0"></div>
</div>
</div>
</div>
</div></div>