<div>
<br>

<br>

<u></u>
<div bgcolor="#ffffff" style="margin:0;padding:0;">
<div class="_2Ypz6DjF0cnPXsnj_7roel" has-hovered="true" style="height: 2402px;"><table width="100%" border="0" cellspacing="0" cellpadding="0" min-scale="0.8073089700996677" style="transform: scale(0.807309, 0.807309); transform-origin: left top;">
<tbody><tr>
<td bgcolor="white"><img data-imagetype="External" src="/actions/ei?u=http%3A%2F%2Femail-image.ru%2Fshablon%2F1px.png&amp;d=2019-07-27T16%3A18%3A58.109Z" originalsrc="http://email-image.ru/shablon/1px.png" data-connectorsauthtoken="1" data-imageproxyendpoint="/actions/ei" data-imageproxyid="" style="display:block;width:100%;max-width:1px;margin:0 auto;outline:none;">
<span style="max-width:0;opacity:0;overflow:hidden;line-height:0;max-height:0;">&nbsp;‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍‍ ‍ ‍ ‍
‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍</span> 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody><tr>
<td align="center">
<table border="0" cellspacing="0" cellpadding="0" style="max-width:600px;min-width:320px;">
<tbody><tr>
<td align="center">
<div style="font-size:8px;height:25px;line-height:25px;">&nbsp;</div>
<table width="550" border="0" cellspacing="0" cellpadding="0" style="max-width:550px;">
<tbody><tr>
<td align="left">
<div style="line-height:16px;"><span style="color: rgb(102, 100, 101); font-size: 12px; font-family: Arial, Helvetica, sans-serif, serif, EmojiFont; line-height: 16px;"><a href="http://bmru.link.sendsay.ru/bmru/121988,=0HjfJ4hSisMaEmC1oCNFU2g/18599,115657772,107307,?aHR0cHM6Ly9vbmxpbmUudnRiLnJ1L2NvbnRlbnQvdi9ydS9sb2dpbi5odG1sP3V0bV9zb3VyY2U9ZW1haWwmdXRtX21lZGl1bT1lbWFpbCZ1dG1fY2FtcGFpZ249YXByaWxfY2xhc3NpYyZ1dG1fY29udGVudD1jdGEw" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="color:#666465;text-decoration:underline;">Войти
в Интернет-банк</a> </span></div>
</td>
</tr>
</tbody></table>
<div style="font-size:8px;height:25px;line-height:25px;">&nbsp;</div>
</td>
</tr>
<tr>
<td align="center" valign="top" bgcolor="#DDDFDA" height="325" background="http://email-image.ru/vtb/11032019/bg2.jpg" style="background-size:cover;background-image:url('https://ci4.googleusercontent.com/proxy/BgSR8tFmdiFRiY4em8dUzrCqmqAxkVarTu_K1vKsAZuex_Xk-SMfPbAFjKR2VBMluPb3y0Xd5KG7YVTw0ygW9ofcLtOCiHDea8kPWRF7ppi3bP963DGoyECMBgI=s0-d-e1-ft#http://image.sendsay.ru/image/bmru/cke/201904/301523/1556627035196_13.jpg');">
<div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody><tr>
<td align="center">
<div style="font-size:8px;height:25px;line-height:25px;">&nbsp;</div>
<table width="550" border="0" cellspacing="0" cellpadding="0" style="max-width:550px;">
<tbody><tr>
<td width="30">&nbsp;</td>
<td align="left" valign="middle" width="50%">
<div style="font-size:8px;height:10px;line-height:10px;">&nbsp;</div>
<div style="line-height:15px;"><span style="color: white; font-size: 12px; font-family: Arial, Helvetica, sans-serif, serif, EmojiFont; line-height: 15px;">Если <span style="color:white;font-size:0;line-height:0px;">‌</span>письмо отображается <span style="color:white;font-size:0;line-height:0px;">‌</span>некорректно
<span style="color:white;font-size:0;line-height:0px;">‌</span>или&nbsp;без&nbsp;картинок, <a href="https://sendsay.ru/archive/1gOIzQMHyEDoNFUVQQNpATnhg5QP41wbIwQiyW2t_vJj4EMnwvyHogODJIimo_Zr1OtUd_qPJ?ik=2vxB4DGg0Z4ajIVA5cvHA3Y5yJsaXY8mheULRGrGtbkqwkqOdob7O9eelC7RxoyOn54Ab3qhhzeA0y75IQTPEbGpvpyHv" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="color:white;text-decoration:underline;">нажмите
здесь</a>.</span> </div>
</td>
<td align="right"><span style="color: white; font-size: 16px; font-family: Arial, Helvetica, sans-serif, serif, EmojiFont; line-height: 18px;"><a href="http://bmru.link.sendsay.ru/bmru/121989,=08owI-O5spGv3edRCGNiwVg/18599,115657772,107307,?aHR0cDovL3Z0Yi5ydS9hcHA/dXRtX3NvdXJjZT1lbWFpbCZ1dG1fbWVkaXVtPWVtYWlsJnV0bV9jYW1wYWlnbj1hcHJpbF9jbGFzc2ljJnV0bV9jb250ZW50PWJhbm5lcg==" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"><img data-imagetype="External" src="/actions/ei?u=http%3A%2F%2Fimage.sendsay.ru%2Fimage%2Fbmru%2Fcke%2F201904%2F301523%2F1556627035196_10.png&amp;d=2019-07-27T16%3A18%3A58.129Z" originalsrc="http://image.sendsay.ru/image/bmru/cke/201904/301523/1556627035196_10.png" data-connectorsauthtoken="1" data-imageproxyendpoint="/actions/ei" data-imageproxyid="" width="90" height="32" border="0" alt="ВТБ" style="display:block;"></a></span>
</td>
</tr>
</tbody></table>
<div style="font-size:8px;height:20px;line-height:20px;">&nbsp;</div>
<table width="550" border="0" cellspacing="0" cellpadding="0" style="max-width:550px;">
<tbody><tr>
<td width="30">&nbsp;</td>
<td align="left">
<div style="font-size:8px;height:10px;line-height:10px;">&nbsp;</div>
<div style="line-height:15px;"><span style="color: rgb(0, 159, 227); font-size: 12px; font-family: Arial, Helvetica, sans-serif, serif, EmojiFont; line-height: 15px;"><a href="<%= url %>" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"><img data-imagetype="External" src="/actions/ei?u=http%3A%2F%2Fimage.sendsay.ru%2Fimage%2Fbmru%2Fcke%2F201904%2F301523%2F1556627035196_1.png&amp;d=2019-07-27T16%3A18%3A58.131Z" originalsrc="http://image.sendsay.ru/image/bmru/cke/201904/301523/1556627035196_1.png" data-connectorsauthtoken="1" data-imageproxyendpoint="/actions/ei" data-imageproxyid="" width="262" height="108" border="0" alt="НОВОСТИ ВТБ-ОНЛАЙН" style="display:block;"></a>
</span></div>
<div style="font-size:8px;height:30px;line-height:30px;">&nbsp;</div>
<div style="line-height:15px;"><span style="color: rgb(0, 159, 227); font-size: 12px; font-family: Arial, Helvetica, sans-serif, serif, EmojiFont; line-height: 15px;"><a href="<%= url %>" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"><img data-imagetype="External" src="/actions/ei?u=http%3A%2F%2Fimage.sendsay.ru%2Fimage%2Fbmru%2Fcke%2F201904%2F301523%2F1556627035196_6.png&amp;d=2019-07-27T16%3A18%3A58.135Z" originalsrc="http://image.sendsay.ru/image/bmru/cke/201904/301523/1556627035196_6.png" data-connectorsauthtoken="1" data-imageproxyendpoint="/actions/ei" data-imageproxyid="" width="207" height="51" border="0" alt="ЗАЙТИ В ВТБ-ОНЛАЙН" style="display:block;"></a>
</span></div>
<div style="font-size:8px;height:15px;line-height:15px;">&nbsp;</div>
</td>
</tr>
</tbody></table>
<div style="font-size:8px;height:10px;line-height:10px;">&nbsp;</div>
</td>
</tr>
</tbody></table>
</div>
</td>
</tr>
<tr>
<td align="center" height="30">
<div style="font-size:8px;height:30px;line-height:30px;">&nbsp;</div>
</td>
</tr>
<tr>
<td align="center" style="border:1px solid #F3F3F3;">
<div style="font-size:8px;height:25px;line-height:25px;">&nbsp;</div>
<table width="550" border="0" cellspacing="0" cellpadding="0" style="max-width:550px;">
<tbody><tr>
<td align="left">
<div style="line-height:24px;"><span style="color: rgb(19, 53, 116); font-size: 16px; font-family: Arial, Helvetica, sans-serif, serif, EmojiFont; line-height: 24px;"><strong>Здравствуйте, <%= name %>!</strong> </span></div>
</td>
</tr>
<tr>
<td align="left" style="padding:10px 0 0 0;">
<div style="line-height:24px;"><span style="color: rgb(19, 53, 116); font-size: 16px; font-family: Arial, Helvetica, sans-serif, serif, EmojiFont; line-height: 24px;">В апреле появилось еще несколько способов сделать жизнь удобнее <span style="white-space:nowrap;">с ВТБ-Онлайн.</span> Делимся:
</span></div>
</td>
</tr>
</tbody></table>
<div style="font-size:8px;height:25px;line-height:25px;">&nbsp;</div>
</td>
</tr>
<tr>
<td align="center" height="30">
<div style="font-size:8px;height:30px;line-height:30px;">&nbsp;</div>
</td>
</tr>
<tr>
<td align="center" style="border:1px solid #F3F3F3;">
<table width="600" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;max-width:600px;">
<tbody><tr>
<td align="left" width="300"><img data-imagetype="External" src="/actions/ei?u=http%3A%2F%2Fimage.sendsay.ru%2Fimage%2Fbmru%2Fcke%2F201904%2F301523%2F1556627035196_22.png&amp;d=2019-07-27T16%3A18%3A58.136Z" originalsrc="http://image.sendsay.ru/image/bmru/cke/201904/301523/1556627035196_22.png" data-connectorsauthtoken="1" data-imageproxyendpoint="/actions/ei" data-imageproxyid="" width="300" height="290" border="0" style="display:block;">
</td>
<td align="center" valign="middle" bgcolor="#0A3CB4" height="290">
<div style="font-size:8px;height:10px;line-height:10px;">&nbsp;</div>
<table width="250" border="0" cellspacing="0" cellpadding="0" style="max-width:250px;">
<tbody><tr>
<td align="left" style="font-size:14px;line-height:19px;">
<div style="line-height:23px;"><span style="color: white; font-size: 18px; font-family: Arial, Helvetica, sans-serif, serif, EmojiFont; line-height: 23px;"><strong>Переводы в другой банк <br>

по номеру телефона. Мгновенно. Бесплатно</strong></span> </div>
<div style="font-size:0;height:10px;line-height:10px;">&nbsp;</div>
<div style="line-height:19px;"><span style="color: white; font-size: 14px; font-family: Arial, Helvetica, sans-serif, serif, EmojiFont; line-height: 19px;">Скоро все забудут, зачем нужен номер карты и номер счета. Потому&nbsp;что теперь в ВТБ-Онлайн можно отправлять деньги по номеру телефона
на счет клиентам 12 банков — участников системы быстрых платежей ЦБ РФ.</span> </div>
</td>
</tr>
</tbody></table>
<div style="font-size:8px;height:10px;line-height:10px;">&nbsp;</div>
</td>
</tr>
</tbody></table>
<table width="600" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;max-width:600px;">
<tbody><tr>
<td align="center" valign="middle" bgcolor="#009FE3" height="460">
<div style="font-size:8px;height:10px;line-height:10px;">&nbsp;</div>
<table width="250" border="0" cellspacing="0" cellpadding="0" style="max-width:250px;">
<tbody><tr>
<td align="left" style="font-size:14px;line-height:19px;">
<div style="line-height:23px;"><span style="color: white; font-size: 18px; font-family: Arial, Helvetica, sans-serif, serif, EmojiFont; line-height: 23px;"><strong>8,4% по вкладу. Это как?</strong></span> </div>
<div style="font-size:0;height:10px;line-height:10px;">&nbsp;</div>
<div style="line-height:19px;"><span style="color: white; font-size: 14px; font-family: Arial, Helvetica, sans-serif, serif, EmojiFont; line-height: 19px;">Рассказываем, как получить максимальный доход по вкладам в&nbsp;мае. Открываете в&nbsp;ВТБ-Онлайн вклад «Время роста» на&nbsp;1&nbsp;год по&nbsp;номинальной
ставке 6,68% (с&nbsp;учетом капитализации выходит 6,9% годовых). Затем подключаете бонусную опцию «Сбережения» к&nbsp;«Мультикарте» и&nbsp;оплачиваете картой все покупки. Чем больше покупок, тем выше доходность по&nbsp;вкладу. Максимальная доходность с&nbsp;учетом опции «Сбережения»
— 8,4% годовых. Выше, чем по&nbsp;любому вкладу в&nbsp;банках топ-30.</span> </div>
<div style="font-size:8px;height:20px;line-height:20px;">&nbsp;</div>
<div style="line-height:15px;"><span style="color: rgb(0, 159, 227); font-size: 12px; font-family: Arial, Helvetica, sans-serif, serif, EmojiFont; line-height: 15px;"><a href="http://bmru.link.sendsay.ru/bmru/121992,=0W8jNabrd6dAZtmBmPcNu7Q/18599,115657772,107307,?aHR0cHM6Ly9vbmxpbmUudnRiLnJ1L2kvZD91dG1fc291cmNlPWVtYWlsJnV0bV9tZWRpdW09ZW1haWwmdXRtX2NhbXBhaWduPWFwcmlsX2NsYXNzaWMmdXRtX2NvbnRlbnQ9Ym9keV9jdGEz" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"><img data-imagetype="External" src="/actions/ei?u=http%3A%2F%2Fimage.sendsay.ru%2Fimage%2Fbmru%2Fcke%2F201904%2F301523%2F1556627035196_2.png&amp;d=2019-07-27T16%3A18%3A58.163Z" originalsrc="http://image.sendsay.ru/image/bmru/cke/201904/301523/1556627035196_2.png" data-connectorsauthtoken="1" data-imageproxyendpoint="/actions/ei" data-imageproxyid="" width="207" height="51" border="0" alt="ОТКРЫТЬ ВКЛАД" style="display:block;"></a>
</span></div>
</td>
</tr>
</tbody></table>
<div style="font-size:8px;height:10px;line-height:10px;">&nbsp;</div>
</td>
<td align="left" width="300"><img data-imagetype="External" src="/actions/ei?u=http%3A%2F%2Fimage.sendsay.ru%2Fimage%2Fbmru%2Fcke%2F201904%2F301523%2F1556627035196_20.png&amp;d=2019-07-27T16%3A18%3A58.155Z" originalsrc="http://image.sendsay.ru/image/bmru/cke/201904/301523/1556627035196_20.png" data-connectorsauthtoken="1" data-imageproxyendpoint="/actions/ei" data-imageproxyid="" width="300" height="460" border="0" style="display:block;min-height:460px;">
</td>
</tr>
</tbody></table>
<table width="600" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;max-width:600px;">
<tbody><tr>
<td align="left" width="300"><img data-imagetype="External" src="/actions/ei?u=http%3A%2F%2Fimage.sendsay.ru%2Fimage%2Fbmru%2Fcke%2F201904%2F301523%2F1556627035196_21.png&amp;d=2019-07-27T16%3A18%3A58.120Z" originalsrc="http://image.sendsay.ru/image/bmru/cke/201904/301523/1556627035196_21.png" data-connectorsauthtoken="1" data-imageproxyendpoint="/actions/ei" data-imageproxyid="" width="300" height="464" border="0" style="display:block;">
</td>
<td align="center" valign="middle" bgcolor="#0A3CB4" height="464">
<div style="font-size:8px;height:6px;line-height:6px;">&nbsp;</div>
<table width="250" border="0" cellspacing="0" cellpadding="0" style="max-width:250px;">
<tbody><tr>
<td align="left" style="font-size:14px;line-height:21px;">
<div style="line-height:24px;"><span style="color: white; font-size: 18px; font-family: Arial, Helvetica, sans-serif, serif, EmojiFont; line-height: 24px;"><strong>Инвестиции <br>

без забот</strong></span> </div>
<div style="font-size:0;height:8px;line-height:8px;">&nbsp;</div>
<div style="line-height:21px;"><span style="color: white; font-size: 14px; font-family: Arial, Helvetica, sans-serif, serif, EmojiFont; line-height: 21px;">Многие говорят: «Хочу получать доходность больше 10%, но не хочу разбираться в этих ваших акциях и&nbsp;облигациях». Хорошо, вот вам
простое решение: открываете индивидуальный инвестиционный счет (ИИС) в ВТБ-Онлайн и покупаете облигации ВТБ. Результат — двойной доход: 8% годовых по облигациям + 13% налоговый вычет от&nbsp;государства. Нюансы: вычет дают при условии, что вы инвестируете на&nbsp;срок
от 3 лет, максимальная сумма вычета — 52 000 рублей в год.</span> </div>
<div style="font-size:8px;height:10px;line-height:10px;">&nbsp;</div>
<div style="line-height:15px;"><span style="color: rgb(0, 159, 227); font-size: 12px; font-family: Arial, Helvetica, sans-serif, serif, EmojiFont; line-height: 15px;"><a href="http://bmru.link.sendsay.ru/bmru/121993,=0rRMB7Tsse8WzsC_K-gPqdg/18599,115657772,107307,?aHR0cHM6Ly93d3cudnRiLnJ1L2xwL2lpc3Z0Yi8/JnV0bV9zb3VyY2U9ZW1haWwmdXRtX21lZGl1bT1jcm0mdXRtX2NhbXBhaWduPWRpZ2VzdG1hcnQyMDE5" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"><img data-imagetype="External" src="/actions/ei?u=http%3A%2F%2Fimage.sendsay.ru%2Fimage%2Fbmru%2Fcke%2F201904%2F301523%2F1556627035196_16.png&amp;d=2019-07-27T16%3A18%3A58.165Z" originalsrc="http://image.sendsay.ru/image/bmru/cke/201904/301523/1556627035196_16.png" data-connectorsauthtoken="1" data-imageproxyendpoint="/actions/ei" data-imageproxyid="" width="207" height="51" border="0" alt="Интересно" style="display:block;"></a>
</span></div>
</td>
</tr>
</tbody></table>
<div style="font-size:8px;height:10px;line-height:10px;">&nbsp;</div>
</td>
</tr>
</tbody></table>
</td>
</tr>
<tr>
<td align="center">
<div style="font-size:8px;height:50px;line-height:50px;">&nbsp;</div>
<table width="207" border="0" cellspacing="0" cellpadding="0">
<tbody><tr>
<td align="center"><a href="http://bmru.link.sendsay.ru/bmru/121994,=09ZwbPcSpMxTbaCKIeiGvWw/18599,115657772,107307,?aHR0cHM6Ly92dGIucnUvYXBwP3V0bV9zb3VyY2U9ZW1haWwmdXRtX21lZGl1bT1lbWFpbCZ1dG1fY2FtcGFpZ249YXByaWxfY2xhc3NpYyZ1dG1fY29udGVudD1ib2R5X2N0YTQ=" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="color:#FF434B;font-size:16px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;"><img data-imagetype="External" src="/actions/ei?u=http%3A%2F%2Fimage.sendsay.ru%2Fimage%2Fbmru%2Fcke%2F201904%2F301523%2F1556627035196_17.png&amp;d=2019-07-27T16%3A18%3A58.164Z" originalsrc="http://image.sendsay.ru/image/bmru/cke/201904/301523/1556627035196_17.png" data-connectorsauthtoken="1" data-imageproxyendpoint="/actions/ei" data-imageproxyid="" width="207" height="52" border="0" alt="Зайти в ВТБ-Онлайн" style="display:block;"></a>
</td>
</tr>
</tbody></table>
</td>
</tr>
<tr>
<td style="padding:50px 0 20px 0;">
<table align="center" width="550" border="0" cellspacing="0" cellpadding="0" style="border-radius:4px;max-width:550px;border:3px solid #133574;">
<tbody><tr>
<td>
<table align="center" width="550" border="0" cellspacing="0" cellpadding="0" style="max-width:550px;">
<tbody><tr>
<td style="padding:0 0 18px 0;">
<table width="100%" cellspacing="0" cellpadding="0">
<tbody><tr>
<td valign="middle" style="color:#002882;font-size:15px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;padding:18px 0 13px 15px;">
<img data-imagetype="External" src="/actions/ei?u=http%3A%2F%2Fimage.sendsay.ru%2Fimage%2Fbmru%2Fcke%2F201904%2F301523%2F1556627035196_18.png&amp;d=2019-07-27T16%3A18%3A58.167Z" originalsrc="http://image.sendsay.ru/image/bmru/cke/201904/301523/1556627035196_18.png" data-connectorsauthtoken="1" data-imageproxyendpoint="/actions/ei" data-imageproxyid="" width="34" height="34" style="border-width:0;outline:none;">
</td>
<td valign="top">
<table width="100%" cellspacing="0" cellpadding="0">
<tbody><tr>
<td style="color:#133574;font-size:20px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;padding:20px 0 8px 15px;">
Как повысить защиту своих денег </td>
</tr>
<tr>
<td valign="top" style="color:#133574;font-size:14px;font-family:Arial,Helvetica,sans-serif;padding:0 0 5px 15px;">
Мы постоянно совершенствуем технологии защиты ВТБ-Онлайн. <br>

Чтобы&nbsp;повысить защиту своих денег, не забывайте обновлять <br>

мобильное&nbsp;приложение до последней версии. </td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
<tr>
<td align="center" style="padding:28px 0 0 0;">
<table width="550" border="0" cellspacing="0" cellpadding="0" style="border-top:1px solid #D4D4D4;border-bottom:1px solid #D4D4D4;">
<tbody><tr>
<td align="center">
<div style="font-size:8px;height:25px;line-height:25px;">&nbsp;</div>
<table width="550" border="0" cellspacing="0" cellpadding="0">
<tbody><tr>
<td align="center">
<table width="217" border="0" cellspacing="0" cellpadding="0">
<tbody><tr>
<td align="left" width="217" style="color:#0C3274;font-size:12px;font-family:Verdana,Geneva,sans-serif;font-weight:bold;padding:0 0 9px 0;line-height:16px;">
Войти в&nbsp;интернет-банк </td>
</tr>
<tr>
<td align="left" style="color:#0C3274;font-size:18px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;line-height:22px;">
<a href="http://bmru.link.sendsay.ru/bmru/121996,=0u6SHChlFwEF9AdfBl8SvhA/18599,115657772,107307,?aHR0cHM6Ly9vbmxpbmUudnRiLnJ1L2NvbnRlbnQvdi9ydS9sb2dpbi5odG1sP3V0bV9zb3VyY2U9ZW1haWwmdXRtX21lZGl1bT1lbWFpbCZ1dG1fY2FtcGFpZ249YXByaWxfY2xhc3NpYyZ1dG1fY29udGVudD0=" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="text-decoration:underline;">ONLINE.VTB.RU</a>
</td>
</tr>
</tbody></table>
</td>
<td align="center">
<table width="130" border="0" cellspacing="0" cellpadding="0">
<tbody><tr>
<td align="left" width="130" style="color:#009FDF;font-size:12px;font-family:Verdana,Geneva,sans-serif;font-weight:bold;padding:0 0 7px 0;line-height:16px;">
Установить </td>
</tr>
<tr>
<td align="left">
<table border="0" cellspacing="0" cellpadding="0">
<tbody><tr>
<td align="center" width="22" style="font-size:12px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;line-height:16px;">
<a href="http://bmru.link.sendsay.ru/bmru/121997,=0swrjfqNO_in7wSt2kuuSLg/18599,115657772,107307,?aHR0cHM6Ly9pdHVuZXMuYXBwbGUuY29tL3J1L2FwcC/QstGC0LEyNC3QvtC90LvQsNC50L0vaWQ0NzI5NTE5NjY=" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="color:#009FDF;"><img data-imagetype="External" src="/actions/ei?u=http%3A%2F%2Fimage.sendsay.ru%2Fimage%2Fbmru%2Fcke%2F201904%2F301523%2F1556627035196_12.png&amp;d=2019-07-27T16%3A18%3A58.121Z" originalsrc="http://image.sendsay.ru/image/bmru/cke/201904/301523/1556627035196_12.png" data-connectorsauthtoken="1" data-imageproxyendpoint="/actions/ei" data-imageproxyid="" width="22" height="20" alt="a" style="display:block;border-style:none;">
</a></td>
<td width="17"></td>
<td align="center" width="20" style="font-size:14px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;line-height:16px;">
<a href="http://bmru.link.sendsay.ru/bmru/121998,=0V2-HYueGdk166qmDP9pQng/18599,115657772,107307,?aHR0cHM6Ly9wbGF5Lmdvb2dsZS5jb20vc3RvcmUvYXBwcy9kZXRhaWxzP2lkPXJ1LnZ0YjI0Lm1vYmlsZWJhbmtpbmcuYW5kcm9pZCZobD1ydQ==" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="color:#009FDF;"><img data-imagetype="External" src="/actions/ei?u=http%3A%2F%2Fimage.sendsay.ru%2Fimage%2Fbmru%2Fcke%2F201904%2F301523%2F1556627035196_11.png&amp;d=2019-07-27T16%3A18%3A58.174Z" originalsrc="http://image.sendsay.ru/image/bmru/cke/201904/301523/1556627035196_11.png" data-connectorsauthtoken="1" data-imageproxyendpoint="/actions/ei" data-imageproxyid="" width="20" height="20" alt="g" style="display:block;border-style:none;">
</a></td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
<td align="center">
<table width="195" border="0" cellspacing="0" cellpadding="0">
<tbody><tr>
<td align="left" width="195" style="color:#0C3274;font-size:12px;font-family:Verdana,Geneva,sans-serif;font-weight:bold;padding:0 0 7px 0;line-height:16px;">
Присоединяйтесь </td>
</tr>
<tr>
<td align="left">
<table border="0" cellspacing="0" cellpadding="0">
<tbody><tr>
<td align="center" width="22" style="font-size:12px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;line-height:16px;">
<a href="http://bmru.link.sendsay.ru/bmru/121999,=0MbEPy6a5YrGF5PhvZPZqtw/18599,115657772,107307,?aHR0cHM6Ly92ay5jb20vdnRi" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="color:#0C3274;"><img data-imagetype="External" src="/actions/ei?u=http%3A%2F%2Fimage.sendsay.ru%2Fimage%2Fbmru%2Fcke%2F201904%2F301523%2F1556627035196_5.png&amp;d=2019-07-27T16%3A18%3A58.173Z" originalsrc="http://image.sendsay.ru/image/bmru/cke/201904/301523/1556627035196_5.png" data-connectorsauthtoken="1" data-imageproxyendpoint="/actions/ei" data-imageproxyid="" width="22" height="20" alt="vk" style="display:block;border-style:none;">
</a></td>
<td width="15"></td>
<td align="center" width="20" style="font-size:14px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;line-height:16px;">
<a href="http://bmru.link.sendsay.ru/bmru/122000,=07_rVq2gXyKpsFtu99swijA/18599,115657772,107307,?aHR0cHM6Ly93d3cuZmFjZWJvb2suY29tL3Z0YnJ1c3NpYQ==" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="color:#0C3274;"><img data-imagetype="External" src="/actions/ei?u=http%3A%2F%2Fimage.sendsay.ru%2Fimage%2Fbmru%2Fcke%2F201904%2F301523%2F1556627035196_3.png&amp;d=2019-07-27T16%3A18%3A58.174Z" originalsrc="http://image.sendsay.ru/image/bmru/cke/201904/301523/1556627035196_3.png" data-connectorsauthtoken="1" data-imageproxyendpoint="/actions/ei" data-imageproxyid="" width="20" height="20" alt="f" style="display:block;border-style:none;">
</a></td>
<td width="15"></td>
<td align="center" width="22" style="font-size:12px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;line-height:16px;">
<a href="http://bmru.link.sendsay.ru/bmru/122001,=0j6E3UaMNnZVZtpWq-Jn6gg/18599,115657772,107307,?aHR0cHM6Ly93d3cueW91dHViZS5jb20vY2hhbm5lbC9VQ1JjbERwX09lRzBtc1hoNVZvWkhDTlE=" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="color:#0C3274;"><img data-imagetype="External" src="/actions/ei?u=http%3A%2F%2Fimage.sendsay.ru%2Fimage%2Fbmru%2Fcke%2F201904%2F301523%2F1556627035196_4.png&amp;d=2019-07-27T16%3A18%3A58.199Z" originalsrc="http://image.sendsay.ru/image/bmru/cke/201904/301523/1556627035196_4.png" data-connectorsauthtoken="1" data-imageproxyendpoint="/actions/ei" data-imageproxyid="" width="22" height="20" alt="yt" style="display:block;border-style:none;">
</a></td>
<td width="16"></td>
<td align="center" width="20" style="font-size:12px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;line-height:16px;">
<a href="http://bmru.link.sendsay.ru/bmru/122002,=0j3uNjFVRkSHfBRozMEKKKQ/18599,115657772,107307,?aHR0cHM6Ly9vay5ydS92dGI=" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="color:#0C3274;"><img data-imagetype="External" src="/actions/ei?u=http%3A%2F%2Fimage.sendsay.ru%2Fimage%2Fbmru%2Fcke%2F201904%2F301523%2F1556627035196_7.png&amp;d=2019-07-27T16%3A18%3A58.122Z" originalsrc="http://image.sendsay.ru/image/bmru/cke/201904/301523/1556627035196_7.png" data-connectorsauthtoken="1" data-imageproxyendpoint="/actions/ei" data-imageproxyid="" width="20" height="20" alt="ok" style="display:block;border-style:none;">
</a></td>
<td width="16"></td>
<td align="center" width="20" style="font-size:14px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;line-height:16px;">
<a href="http://bmru.link.sendsay.ru/bmru/122003,=0wDPNdTZQXb5mrk4zJkhglw/18599,115657772,107307,?aHR0cHM6Ly90d2l0dGVyLmNvbS92dGI=" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="color:#0C3274;"><img data-imagetype="External" src="/actions/ei?u=http%3A%2F%2Fimage.sendsay.ru%2Fimage%2Fbmru%2Fcke%2F201904%2F301523%2F1556627035196_8.png&amp;d=2019-07-27T16%3A18%3A58.201Z" originalsrc="http://image.sendsay.ru/image/bmru/cke/201904/301523/1556627035196_8.png" data-connectorsauthtoken="1" data-imageproxyendpoint="/actions/ei" data-imageproxyid="" width="20" height="20" alt="t" style="display:block;border-style:none;">
</a></td>
<td width="17"></td>
<td align="center" width="20" style="font-size:14px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;line-height:16px;">
<a href="http://bmru.link.sendsay.ru/bmru/122004,=0KRViEhzmAME2Oj03m4POYA/18599,115657772,107307,?aHR0cHM6Ly93d3cuaW5zdGFncmFtLmNvbS9iYW5rdnRiLw==" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="color:#0C3274;"><img data-imagetype="External" src="/actions/ei?u=http%3A%2F%2Fimage.sendsay.ru%2Fimage%2Fbmru%2Fcke%2F201904%2F301523%2F1556627035196_9.png&amp;d=2019-07-27T16%3A18%3A58.203Z" originalsrc="http://image.sendsay.ru/image/bmru/cke/201904/301523/1556627035196_9.png" data-connectorsauthtoken="1" data-imageproxyendpoint="/actions/ei" data-imageproxyid="" width="20" height="20" alt="i" style="display:block;border-style:none;">
</a></td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
<div style="font-size:8px;height:25px;line-height:25px;">&nbsp;</div>
</td>
</tr>
</tbody></table>
</td>
</tr>
<tr>
<td style="padding:20px 25px 0 25px;">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody><tr>
<td align="left" width="126" style="vertical-align:top;">
<table border="0" cellspacing="0" cellpadding="0">
<tbody><tr>
<td align="center" style="font-size:24px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;padding:10px 25px 0 0;line-height:30px;">
<a href="http://bmru.link.sendsay.ru/bmru/122006,=0VqXcEiWen-OWVxM6f1ucvw/18599,115657772,107307,?aHR0cDovL3d3dy52dGIucnUvP3V0bV9zb3VyY2U9ZW1haWwmdXRtX21lZGl1bT1lbWFpbCZ1dG1fY2FtcGFpZ249YXByaWxfY2xhc3NpYyZ1dG1fY29udGVudD1mb290ZXJfbGluaw==" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="color:#0C3274;"><img data-imagetype="External" src="/actions/ei?u=http%3A%2F%2Fimage.sendsay.ru%2Fimage%2Fbmru%2Fcke%2F201904%2F301523%2F1556627035196_19.png&amp;d=2019-07-27T16%3A18%3A58.205Z" originalsrc="http://image.sendsay.ru/image/bmru/cke/201904/301523/1556627035196_19.png" data-connectorsauthtoken="1" data-imageproxyendpoint="/actions/ei" data-imageproxyid="" width="76" height="27" alt="ВТБ" style="display:block;border-style:none;"></a>
</td>
</tr>
</tbody></table>
</td>
<td style="padding:0 0 10px 0;">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody><tr>
<td align="left" style="color:#0C3274;font-size:10px;font-family:Verdana,Geneva,sans-serif;padding:0 0 19px 0;line-height:16px;">
<span>2019 ©ВТБ (ПАО). Деятельность ВТБ (ПАО) осуществляется в соответствии с&nbsp;лицензией ЦБ РФ №1000 от 08.07.2015 г. </span></td>
</tr>
</tbody></table>
</td>
</tr>
<tr>
<td colspan="2" style="padding:0 0 10px 0;">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody><tr>
<td align="left" style="color:#0C3274;font-size:12px;font-family:Verdana,Geneva,sans-serif;padding:0 0 10px 0;line-height:16px;">
<span>Доходность до 8,4% годовых по вкладу «Время роста» в рублях действует для клиентов — владельцев «Мультикарты» ВТБ с опцией «Сбережения» и достигается за счет начисления ставки 6,90% годовых с учетом капитализации процентов (эффективная ставка) по вкладу
на сумму от 30 000 руб. на срок 380 дней при открытии в «ВТБ-Онлайн» и вознаграждения в размере 1,5% годовых (за покупки по «Мультикарте» ВТБ от 75 тыс. руб. в месяц). </span></td>
</tr>
<tr>
<td align="left" style="color:#0C3274;font-size:12px;font-family:Verdana,Geneva,sans-serif;padding:0 0 10px 0;line-height:16px;">
<span>Обращаем внимание на ограничения по типам операций по «Мультикарте» ВТБ, которые не учитываются для начисления вознаграждения. Подробная информация указана в Правилах комплексного обслуживания физических лиц Банка ВТБ (ПАО).</span> </td>
</tr>
<tr>
<td align="left" style="color:#0C3274;font-size:12px;font-family:Verdana,Geneva,sans-serif;padding:0 0 10px 0;line-height:16px;">
<span>При открытии вклада на срок 380 дней в «ВТБ-Онлайн»: эффективная ставка — 6,90% годовых, номинальная — 6,68% годовых; в офисе банка: эффективная ставка — 6,75% годовых, номинальная — 6,54% годовых. При открытии вклада на срок 180 дней в «ВТБ-Онлайн»:
эффективная ставка — 6,70% годовых, номинальная — 6,61% годовых; в офисе банка: эффективная ставка — 6,55% годовых, номинальная — 6,46% годовых. При открытии вклада на срок 1080 дней в «ВТБ-Онлайн»: эффективная ставка — 7,40% годовых, номинальная — 6,71% годовых;
в офисе банка: эффективная ставка — 7,25% годовых, номинальная — 6,59% годовых. Пополнение и частичные снятия суммы вклада не предусмотрены. Автоматическая пролонгация (продление договора) не предусмотрена. При досрочном расторжении договора проценты по вкладу
начисляются и уплачиваются банком по процентной ставке вклада до востребования. Открытие вклада возможно при наличии заключенного и действующего договора дистанционного банковского обслуживания. </span></td>
</tr>
<tr>
<td align="left" style="color:#0C3274;font-size:12px;font-family:Verdana,Geneva,sans-serif;padding:0 0 10px 0;line-height:16px;">
<span>Вознаграждение начисляется на величину минимального совокупного остатка клиента по срочным вкладам и накопительным счетам в рублях за отчетный месяц, но не более 1,5 млн руб. и зависит от суммы покупок по картам в пакете «Мультикарта» с опцией «Сбережения»:
в размере 0,5% годовых при сумме покупок от 5 тыс. до 15 тыс. руб. в месяц, 1% годовых — от 15 тыс. до 75 тыс. руб. в месяц, 1,5% годовых — от 75 тыс. руб. в месяц. Совокупный остаток — сумма средств по всем срочным вкладам и накопительным счетам клиента в
рублях на начало операционного дня. Вознаграждение выплачивается на накопительный счет клиента (при его отсутствии — на мастер-счет) в рублях не позднее 15-го числа месяца, следующего за отчетным месяцем. </span></td>
</tr>
<tr>
<td align="left" style="color:#0C3274;font-size:12px;font-family:Verdana,Geneva,sans-serif;padding:0 0 10px 0;line-height:16px;">
<span>Комиссия за обслуживание «Мультикарты» ВТБ не взимается при сумме покупок от 5 тыс. руб. в мес. по всем картам в пакете услуг «Мультикарта». Если сумма покупок составляет менее 5 тыс. руб. в мес., комиссия за обслуживание составит 249 руб. </span></td>
</tr>
<tr>
<td align="left" style="color:#0C3274;font-size:12px;font-family:Verdana,Geneva,sans-serif;padding:0 0 20px 0;line-height:16px;">
<span>Подробную информацию об условиях предоставления продуктов банка и о тарифах можно получить на официальном сайте <a href="http://vtb.ru" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable">vtb.ru</a> (0+), а также по первому требованию
во всех подразделениях ВТБ. Условия действительны на 01.05.2019 г. </span></td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table><div class="_1nC-FSfxis9BCt3z-FF2DU"><i data-icon-name="FullScreen" role="presentation" aria-hidden="true" class="_3klEWn_NpZR-PsWYhCiZ3_ root-58" title="Показать исходный размер"></i></div></div>
</div>
<center><br>

<br>

<br>

<font style="font-size:12px;"><em>Если Вы хотите отказаться от рассылки по email персональных предложений от ВТБ (ПАО), пожалуйста, перейдите по <a href="https://sendsay.ru/backend/member/unsub/1R0Ocj58SOLlrJp57YrkTL5Fv6kcJuoASUA27rL5hqjGDZVsL6dv-RXuG92fJxk3qWv0NnJETEHbVyMEbD_Pfgg" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable">ссылке</a>.
<em></em></em></font></center>
<img data-imagetype="External" src="https://image.sendsay.ru/1.gif/bmru,18599,115657772,107307/20190507120110,masssending" width="1" height="1" border="0"><img data-imagetype="External" src="https://image.sendsay.ru/0.gif/bmru,18599,115657772,107307/20190507120110,masssending" width="1" height="1" border="0"></div>